<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>商务合作</title>
  </head>
  <body>
    <img src="/img/business.png" style="width: 100vw;height: 100vh;" />
  </body>
</html>
