<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>积分规则</title>
  </head>
  <body>
    <h1><span>新碶成教积分系统规则</span></h1>
    <h2><span>积分获取规则</span></h2>
    <h3><span>1.每日签到</span></h3>
    <p><span> 每天进入我的主页即可得到一分，一天内多次进入无效</span></p>
    <h3><span>2.阅读文章签到</span></h3>
    <p>
      <span>
        阅读文章后，点击进入‘阅读原文’，进行签到，每日只可签到一篇文章。
        每日签到可得1分，连续签到第2日可得2分，第3日可得3分，第4日起每日可得3分，中途间断则签到天数清零，重新计算，每月1号重新开始计分；</span
      >
    </p>
    <h3><span>3.邀请好友</span></h3>
    <p>
      <span>
        好友通过扫码个人主页上的二维码，并关注公众号，即可邀请成功。每日每人可邀请10人，邀请满10人后自动赠送额外的5分。</span
      >
    </p>
    <h2><span>积分兑换规则</span></h2>
    <h3><span>1.全部积分</span></h3>
    <p>
      <span
        >全部积分指通过任务获得的所有积分，兑换奖品并不影响全部积分数量。</span
      >
    </p>
    <h3><span>2.可用积分</span></h3>
    <p>
      <span
        >可用积分指可用于兑换奖品的积分，计算规则为全部积分减去已兑换的积分。</span
      >
    </p>
    <h3><span>3.可兑换商品</span></h3>
    <p><span>当商品下架或余量为0，则不可进行兑换</span></p>
  </body>
</html>
